projects/automation-demos/dental-lead-capture/workflow.json
{
  "name": "Dental Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "dental-lead-capture"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "tableRange": "A:G",
        "values": {
          "date": "={{ $json.timestamp }}",
          "name": "={{ $json.name }}",
          "phone": "={{ $json.phone }}",
          "email": "={{ $json.email }}",
          "insurance": "={{ $json.insurance }}",
          "notes": "={{ $json.notes }}",
          "status": "New"
        }
      },
      "id": "google-sheets",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_EMAIL@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Welcome to Your Dental Practice!",
        "text": "Hi {{ $json.name }},\n\nThank you for reaching out! We've received your inquiry and our team will contact you within 24 hours.\n\nTo confirm your appointment, please call us at: [PHONE NUMBER]\n\nBest regards,\n[PRACTICE NAME]"
      },
      "id": "send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "🎉 New Patient Lead!\n\nName: {{ $json.name }}\nPhone: {{ $json.phone }}\nEmail: {{ $json.email }}\nInsurance: {{ $json.insurance }}\nNotes: {{ $json.notes }}"
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
